@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: #130F0C;
  color: white;
  font-family: 'Poppins', sans-serif;
}
.swiper-box{
  width: 234px !important;
}

.swiper-pagination-bullet{
  height: 12px !important;
  width: 12px !important;
  opacity: 100% !important;
  background: white !important;
}

.swiper-pagination-bullet-active{
  background: transparent !important;
  border: 1px solid white !important;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  left: 775px !important;
  width: fit-content !important;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
  content: none !important;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  content: none !important;
}

.custom-banner-swiper .swiper-pagination-fraction,
.custom-banner-swiper .swiper-pagination-custom,
.custom-banner-swiper .swiper-horizontal > .swiper-pagination-bullets,
.custom-banner-swiper .swiper-pagination-bullets.swiper-pagination-horizontal {
  left: 50% !important; 
  transform: translateX(-50%) !important; 
  width: fit-content !important; 
  position: absolute;
  bottom: 15px !important; 
  justify-content: center;
}

.custom-banner-swiper .swiper-pagination-bullet {
  height: 12px !important;
  width: 12px !important;
  opacity: 100% !important;
  background: grey !important;
}

.custom-banner-swiper .swiper-pagination-bullet-active {
  background: transparent !important;
  border: 1px solid gray !important;
}
